{% extends 'base.html.twig' %}

{% block title %}Hello CategoriaController!{% endblock %}

{% block contenedor_principal %}

    <h1>Editar</h1>

    {% include 'categoria/_formulario.html.twig' %}

{% endblock %}
