<form method="post" action="{{ path('app_marcador_delete', {id: marcador.id}) }}" onsubmit="return confirm('esta seguro de eliminar el item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marcador.id) }}">
    <button class="btn btn-link mg-3">
        <span class="oi oi-delete" title="Eliminar" aria-hidden="true">
    </button>

</form>
